<!DOCTYPE html>
<html lang="en" ng-app='redditClone'>
  <head>
    <meta charset="utf-8">
    <title>Reddit Clone</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <!-- BODY -->
    <div class="container" ng-controller="postsController">

      <div>

        <div class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Reddit Clone</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a class="navbar-brand" href="#" ng-click="formClick= formClick+1">+ Submit Post</a></li>
            </ul>
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search" ng-model="search">
                </div>
              </form>

              <div class="input-group-btn">
                <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort By<span class="caret"></span></a>

                <ul class="dropdown-menu" ng-model="sorts">
                  <li class="dropdown" ng-click="sorting = 'voteCount'"><a href="#">Votes</a></li>
                  <li class="dropdown" ng-click="sorting = 'date'"><a href="#">Date</a></li>
                </ul>
              </div>

          </div>

            <div class="new" ng-show="formClick%2!=0">
              <form action"#" ng-submit="submit(newPost)">
                <label for="title">Title</label><br>
                <input ng-model="newPost.title" type="text" placeholder="Title"><br>
                <label for="author">Author</label><br>
                <input ng-model="newPost.postedBy" type="text" placeholder="Author"><br>
                <label for="imgUrl">Image URL</label><br>
                <input ng-model="newPost.imgUrl" type="text" placeholder="Image URL"><br>
                <label for="description">Description</label><br>
                <input ng-model="newPost.description" type="text" placeholder="Description"><br>
                <input type="submit" value="Submit Post"><br>
              </form>
            </div>
        </div>
      </div><!-- END OF NAVBAR -->

      <div>
        <div ng-repeat="post in postsObject | filter: search | orderBy : sorting">
          <div class="postBox">
            <div class="container row">

              <div>
                <img class="postImg" ng-src="{{ post.imgUrl }}">
              </div>

              <div class="info">
                <!-- FIX THE END OF THIS H3 TAG -->
                <h3>{{ post.title }} | <a class="arrow" href="#" ng-click="post.voteCount = post.voteCount + 1">&#11014; </a>
                <a class="arrow" href="#" ng-click="post.voteCount = post.voteCount - 1">&#11015;</a>
                <span ng-class="{'text-success': post.voteCount>0, 'text-danger': post.voteCount<0, 'text-warning': post.voteCount==0}">{{ post.voteCount }}</span>
                <span class="user">By {{ post.postedBy }}</span>
                </h3>
                <p>{{ post.description }}</p>
                <div class="separator">
                  <p>Date posted: {{ post.date | date : 'fullDate' }}</p>
                  <p><a href="#">&#128488; {{ post.commentCount }} Comments</a></p>
                  <p><a href="#">&#9998; Add Comment</a></p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- END OF CONTAINER -->


<!-- SCRIPTS -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="js/variables.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
